<%- include ("../partials/head.ejs") %>
<%- include ("../partials/navbar.ejs") %>

<section>

    <div class="container">
        <div class="row" style="height: 6.5rem">
            <h1 id="username" class="my-4 font-weight-bold bg-dark text-white rounded text-center align-middle w-100">
            </h1>
        </div>
        <div class="row">
            <div class="grid-item col-md-5 mb-4">
                <div class="card bg-dark">
                    <div class="card-body">
                        <h5 class="card-title white-text">Dane dotyczące jakości powietrza</h5>
                        <p class="card-text white-text">Sprawdź stan jakości powietrza w twojej okolicy!</p>
                        <a href="/air" class="btn btn-outline-success"><b>Pokaż</b></a>
                    </div>
                </div>
            </div>
            <div class="grid-item col-md-5 mb-4">
                <div class="card bg-dark">
                    <div class="card-header text-white">
                        <%= tipType %>
                    </div>
                    <div class="card-body bg-dark">
                        <blockquote class="blockquote mb-0">
                            <p class="text-white"><%= tipContent %></p>
                            <% if(tipAuthor) { %>
                                <footer class="blockquote-footer"><%= tipAuthor %></footer>
                            <% } %>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="grid-item col-md-2 mb-4">
                <div class="card bg-dark">
                    <div class="card-body">
                        <p class="text-white">Zainstaluj aplikację HealthPanel!</p>
                        <p class="card-text text-white">Użyj opcji "dodaj do ekranu głównego" lub podobnej w swojej
                            przeglądarce!</p>
                    </div>
                </div>
            </div>
            <div class="grid-item col-md-3 mb-4">
                <div class="card bg-dark">
                    <div class="card-body">
                        <h5 class="card-title white-text">Statystyki koronawirusa w Polsce</h5>
                        <p class="card-text white-text">Sprawdź dzienną ilość zakażeń w Polsce, a także uzyskaj
                            dostęp do innych danych!</p>
                        <a href="/corona" class="btn btn-sm btn-red"><b>Wejdź</b></a>
                    </div>
                </div>
            </div>
            <div class="grid-item col-md-3 mb-4">
                <div class="card bg-dark">
                    <div class="card-body">
                        <h5 class="card-title white-text">Zrób sobie przerwę!</h5>
                        <p class="card-text white-text">Czy wiesz, że podczas nauki należy robić sobie przerwę co 30
                            minut? Minutnik przypomni Ci o zasłużonym odpoczynku!</p>
                        <a href="/timer" class="btn btn-sm btn-success"><b>Czas na przerwę!</b></a>
                    </div>
                </div>
            </div>
            <div class="grid-item col-md-3 mb-4">
                <div class="card bg-dark">
                    <div class="card-body">
                        <h5 class="card-title white-text">Bądź fit!</h5>
                        <p class="card-text white-text">Tutaj znajdziesz wyselekcjonowane filmy, które pomogą ci
                            utrzymać zdrowy tryb życia. Znajdziesz tu wszystko - od diet po ćwiczenia na ból pleców.</p>
                        <a href="/videos" class="btn btn-sm btn-info"><b>Do filmów!</b></a>
                    </div>
                </div>
            </div>
            <div class="grid-item col-md-3 mb-4">
                <div class="card bg-dark">
                    <div class="card-body">
                        <h5 class="card-title white-text">Przelicz to!</h5>
                        <p class="card-text white-text">Z naszym kalkulatorem kalorii łatwiej będzie Ci utrzymać zdrową
                            sylwetkę lub zrzucić parę kilogramów. Zbilansuj swoje posiłki pod kątem zapotrzebowania
                            kalorii!</p>
                        <a href="/calories" class="btn btn-sm btn-light"><b>Do kalkulatora!</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<%- include ("../partials/footer.ejs") %>